<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Off the Record - Fight your ticket</title>

    <meta property="og:url"                content="http://www.offtherecord.com" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Always fight your traffic tickets" />
    <meta property="og:description"        content="Off the Record lets you fight your ticket in just a few minutes. If we don't win, you pay nothing." />
    <meta property="og:image"              content="http://www.offtherecord.com/assets/img/logo.png" />
    <meta property="og:image:type"         content="image/png" />
    <!--meta property="og:image:width"         content="image/png" /-->
    <!--meta property="og:image:height"         content="image/png" /-->

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2015.3.1111/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2015.3.1111/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.min.css" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js"></script>

    <!-- Needed for Cordova/PhoneGap (this will be a 404 during development) -->
    <script src="lib/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <script src="lib/dist/require.js"></script>
    <script src="lib/dist/angular-pure-slider/angular-pure-slider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2015.3.1111/js/jquery.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2015.3.1111/js/kendo.all.min.js"></script>

    <!-- Stripe -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <!-- AWS S3 -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.2.15.min.js"></script>

    <!-- App code -->
    <script src="js/app.js"></script>
    <!-- Configs -->
    <script src="js/config/Constants.js"></script>
    <!-- Services -->
    <script src="js/services/FileService.js"></script>
    <script src="js/services/ImageService.js"></script>
    <script src="js/services/DataService.js"></script>
    <script src="js/services/FacebookService.js"></script>
    <script src="js/services/UtilitiesService.js"></script>
    <script src="js/services/AWSS3Service.js"></script>
    <script src="js/services/AWSCredentialService.js"></script>
    <script src="js/services/CaseService.js"></script>
    <script src="js/services/MessageService.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/HomeCtrl.js"></script>
    <script src="js/controllers/LoginCtrl.js"></script>
    <script src="js/controllers/TicketCtrl.js"></script>
    <script src="js/controllers/CourtCtrl.js"></script>
    <script src="js/controllers/DateCtrl.js"></script>
    <script src="js/controllers/ViolationCtrl.js"></script>
    <script src="js/controllers/PaymentCtrl.js"></script>
    <script src="js/controllers/CasesCtrl.js"></script>
    <script src="js/controllers/CaseCtrl.js"></script>
    <script src="js/controllers/CaseMessagesCtrl.js"></script>
    <script src="js/controllers/ProfileCtrl.js"></script>
    <!-- Directive -->
    <script src="js/directives/ngEnter.directive.js"></script>

  </head>
  <body ng-app="OTRWebApp" ng-controller="HomeCtrl" ng-cloak>

      <ion-side-menus>
        <div class="nav-item-div home" ui-sref="home">Home</div>
        <div class="nav-item-div ticket" ui-sref="ticket">New ticket</div>
        <div class="nav-item-div cases" ui-sref="cases">My cases</div>

          <!-- Navigation menu -->
          <ion-side-menu side="left" width="{{leftNavWidth}}" expose-aside-when="(min-width:768px)">
            <ion-header-bar class="bar-dark left-nav">
              <div class="logo-container" ui-sref="home">
                <img class="logo-icon" src="../../img/OTR-icon.png">
                <img class="logo-img" src="../../img/otr-logo-V2.gif">
              </div>
            </ion-header-bar>
            <ion-content scroll="false" style="background-color: #1B1E24;height:100%;padding-top: 0px;">
              <ion-list class="left-menu-list">
                <a>
                  <ion-item data-navid="home" ng-click="goHome()" ng-class="{ active : $state.is('home')}">
                    <i class="nav-icon ion-home"></i>
                    <span class="nav-item-name">Home</span>
                  </ion-item>
                </a>
                <a>
                  <ion-item data-navid="ticket" ng-click="goToTicket()" ng-class="{ active : showProgress }">
                    <i class="nav-icon ion-plus-circled"></i>
                    <span class="nav-item-name">New ticket</span>
                  </ion-item>
                </a>
                <a ng-class="{disabled: false}">
                  <ion-item data-navid="cases" ng-click="goToCases()" ng-class="{ active : $state.is('cases')}">
                    <i class="nav-icon ion-ios-albums"></i>
                    <span class="nav-item-name">My Cases</span>
                  </ion-item>
                </a>
              </ion-list>
            </ion-content>
          </ion-side-menu>

          <!-- Main content -->
          <ion-side-menu-content style="background-color:#F0F3F4;" edge-drag-threshold="true">
              <ion-header-bar class="bar-dark">
                <button class="button button-icon left-menu-button" ng-click="toggleMenu()">
                  <i class="icon ion-navicon"></i>
                </button>
                <button class="button button-icon login-nav-button" ng-if="user == null" ng-click="login()">
                  <i class="icon ion-log-in"></i>
                  <span style="font-size:15px;margin-right:5px;">Login</span>
                </button>
                <button class="button button-icon login-nav-button" ng-if="user != null" ng-click="showUserDropdown($event)">
                  <div class="nav-username">
                    <i class="icon ion-ios-person" ng-if="!userPhoto"></i>
                    <img ng-src="{{userPhoto}}" ng-if="userPhoto"/>
                    <div class="username">{{user.firstname}} {{user.lastname}}</div>
                  </div>
                </button>
              </ion-header-bar>

              <div class="progress-section has-header" ng-style="{ 'margin-top': showProgress ? '52px' : '35px' }">
                <div class="progress-bar" ng-show="showProgress">
                  <div class="step" ng-class="{ completed: citation && citation.image.length }">
                    <div class="progress-line"></div>
                    <i class="icon ion-ios-circle-filled"></i>
                    <div class="step-name">Photo</div>
                  </div>
                  <div class="step" ng-class="{ completed: citation && citation.court }">
                    <div class="progress-line"></div>
                    <i class="icon ion-ios-circle-filled"></i>
                    <div class="step-name">Court</div>
                  </div>
                  <div class="step" ng-class="{ completed: citation && citation.date }">
                    <div class="progress-line"></div>
                    <i class="icon ion-ios-circle-filled"></i>
                    <div class="step-name">Date</div>
                  </div>
                  <div class="step" ng-class="{ completed: citation && citation.violationCount }">
                    <div class="progress-line"></div>
                    <i class="icon ion-ios-circle-filled"></i>
                    <div class="step-name">Violation</div>
                  </div>
                </div>
              </div>

              <ion-nav-view></ion-nav-view>
          </ion-side-menu-content>

      </ion-side-menus>
  </body>
</html>
