
<div class="page case-created" ng-if="paymentProcessed">
  <ion-scroll class="scroll-view" style="height: 100vh">
    <div style="height: 800px">
      <h2>
        <i class="icon ion-checkmark-circled"></i>
        Your case has been created.
      </h2>

      <div class="match-details">
        <div class="matched-text">Your traffic ticket will be fought by</div>
        <div class="lawfirm-name">{{currentCase.lawfirmName}}</div>
        <img class="lawfirm-image" ng-src="{{currentCase.lawfirmImageUrl}}" />
      </div>

      <div class="case-created-note">
        Now you're all set. Just sit back and let your attorney do all the heavy lifting.
        <div class="note">
          You don't need to mail your ticket in or show up in court.
        </div>
      </div>

      <button class="view-case-button" ng-click="viewCase()">View Case</button>

      <div class="share-text">
        <div class="share-blurb">Friends don't let friends pay traffic tickets.</div>
        <div class="facebook-share" ng-hide="sharedOnFacebook" ng-click="shareOnFacebook()">
          <i class="icon ion-social-facebook"></i>
          <div class="text">Share the news!</div>
        </div>
      </div>
    </div>
  </ion-scroll>

</div>


