
<ion-view ng-cloak style="background-color:#F0F3F4">
  <ion-scroll class="page cases-view" style="height: 91vh">
    <div class="view-wrapper">

      <div class="breadcrumb" ng-click="backToHome()">
        <i class="icon ion-arrow-left-c"></i>
        <div class="link-text">Home</div>
      </div>

      <div class="page-header" style="margin-left: 0px;">
        <i class="icon ion-ios-albums"></i>
        <h1>Active Cases</h1>
      </div>

      <div ng-if="!casesLoaded && !cases.length" class='loading-box'>
        <ion-spinner icon='ios'></ion-spinner>
      </div>

      <div ng-show="casesLoaded && numCases == 0">You don't have any active cases. When you fight a ticket, your case details will appear here.</div>
      <div ng-show="casesLoaded && numCases > 0">You have {{numCases}} active cases.</div>

      <ion-list>
        <ion-item ng-repeat="case in cases" ng-click="viewCase(case.caseId)">
          <div class="ticket-image"><img ng-src="{{case.citation.signedImageUrl}}" /></div>
          <div class="case-summary">
            <div class="ticket-issued">Your ticket from {{case.dateIssued}}</div>
            <div class="status" ng-bind-html="case.status"></div>
            <div class="case-id">Case: {{case.caseId}}</div>
            <div class="court">{{case.citation.court.courtName}}</div>
            <!--<div>({{case.citation.court.address.city}}, {{case.citation.court.address.stateCode}})</div>-->
            <div class="attorney">
              <div class="image"><img ng-src="{{case.lawfirmCaseDecision.profilePictureUrl}}" /></div>
              <div class="attorney-header">Your attorney</div>
              <div class="attorney-name">{{case.lawfirmCaseDecision.lawfirmName}}</div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-scroll>
</ion-view>


<style>
  .page.cases-view {
    padding: 10px 25px;
    background-color: #F0F3F4;
  }
  .page.cases-view h1 {
    font-family: 'Raleway', sans-serif;
    color: #333;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .page.cases-view div {
    color: #777;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    font-weight: 300;
  }
  .page.cases-view .loading-box {
    margin-top: 15px;
  }
  .page.cases-view ion-item {
    margin: 10px 0px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    cursor: pointer;
  }
  .page.cases-view ion-item:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2)
  }
  .page.cases-view ion-item .ticket-image {
    float: left;
    margin: -16px 25px -16px -16px;
    height: 194px;
    width: 150px;
  }
  .page.cases-view ion-item .ticket-image img {
    width: 100%;
    height: auto;
  }
  @media (max-width: 600px) {
    .page.cases-view ion-item .ticket-image {
      display:none;
    }
    .page.cases-view ion-item .case-summary {
      width: 100%;
    }
    .page.cases-view ion-item .status {
      float: left;
      position: inherit!important;
      clear: both;
    }
    .page.cases-view ion-item .status div {
      padding: 0 10px;
      border-radius: 3px;
      font-size: 14px;
      text-transform: uppercase;
      margin: 4px 0;
    }
  }
  .page.cases-view ion-item .case-summary {
    float: left;
  }
  .page.cases-view ion-item .ticket-issued {
    font-size: 20px;
    cursor: pointer;
    color: #1f66ad;
    font-weight: 400;
    float: left;
  }
  @media (min-width: 600px) {
    .page.cases-view ion-item .ticket-issued {
      line-height: 17px!important;
    }
  }
  .page.cases-view ion-item .status {
    position: absolute;
    right: 27px;
    top: 15px;
    border-radius: 2px;
  }
  .page.cases-view ion-item .ticket-issued:hover {
    text-decoration: underline;
  }
  .page.cases-view ion-item .case-id {
    color: #bbb;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 8px;
  }
  .page.cases-view ion-item .court {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
  }
  .page.cases-view ion-item .case-id,
  .page.cases-view ion-item .court,
  .page.cases-view ion-item .attorney {
    clear: both;
  }
  .page.cases-view ion-item .attorney-header {
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
  }
  .page.cases-view ion-item .attorney-name {
    font-size: 16px;
  }
  .page.cases-view ion-item .attorney .image img {
    height: 70px;
    width: auto;
    float: left;
    margin-right: 10px;
    border-radius: 10%;
  }
  .page.cases-view .status div {
    color: white;
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 3px;
  }
  .page.cases-view div.case-status-active {
    background-color: green;
  }
  .page.cases-view div.case-status-confirmed {
    background-color: orange;
  }
</style>
