
<ion-view class="page date-view">
  <ion-content>
    <div class="top-section">
      <div class="step-container">
        <i class="icon ion-android-calendar"></i>
        <h1 class="step-title">STEP 3</h1>
      </div>
      <h4 class="step-text">When was your ticket issued?</h4>
    </div>

    <div class="bottom-section">
      <div id="example">
        <div class="demo-section k-content">
          <div id="calendar"></div>
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <button class="big-blue-button confirm-date-button" ng-click="continue()"
              ng-hide="!selectedDate">Continue</button>
    </div>
    <div style="height: 135px;"></div>

  </ion-content>
</ion-view>

