
<ion-view class="page home-view">
  <ion-content>
    <div class="top-section">
      <h1 class="welcome">Welcome to Off The Record!</h1>
      <h4>If you're here, you've just been awarded a traffic ticket.</h4>
      <h4>The good news is, you've come to the right place.</h4>
    </div>

    <div class="action-section">
      <div class="actions">
          <div class="action" ng-click="showAction1Modal()">
            <i class="icon ion-android-car" style="color: #e44b43;"></i>
            <h1>Should I fight it?</h1>
            <div>What type of infraction did you commit? We'll tell you when to contest and when to
              just pay the fine.</div>
          </div>
          <div class="action" ng-click="showAction2Modal()">
            <i class="icon ion-cash" style="color:#11a951"></i>
            <h1>Long-term savings</h1>
            <div>When your insurance company finds out about your ticket, they will almost certainly
              raise your premiums. Find out much it'll cost you.</div>
          </div>
          <div class="action" ng-click="showAction3Modal()">
            <i class="icon ion-help-circled"></i>
            <h1>How does it work?</h1>
            <div>Fighting a ticket can be intimidating. We break down the process and explain some of
              the magic behind our high success rates.</div>
          </div>
      </div>
    </div>

    <div class="button-wrapper" style="margin-bottom: 150px;">
      <button class="big-blue-button" ng-click="fightNewTicket('/ticket')">Fight Your Ticket</button>
    </div>
  </ion-content>
</ion-view>
