
<ion-view class="page home-view">
  <ion-content>
    <div class="top-section">
      <h1 class="welcome">Welcome to Off The Record!</h1>
      <h4>If you're here, you've just been awarded a traffic ticket.</h4>
      <h4>The good news is, we'll make sure you never get penalized for it.</h4>
    </div>

    <div class="action-section">
      <div class="actions">
          <div class="action whyfight" ng-click="showAction1Modal()">
            <i class="icon ion-help-circled" style="color: #45A26C;"></i>
            <h1>Should you fight it?</h1>
            <div>If you get a traffic ticket, it's tempting to just pay the fine. But admitting guilt isn't always the smart choice.</div>
          </div>
          <div class="action insurance" ng-click="showCalculator()">
            <div class="close-calculator hide" ng-click="closeCalculator()">X</div>
            <i class="icon ion-arrow-graph-up-right" style="color:#de5d55"></i>
            <h1>Insurance Calculator</h1>
            <div class="insurance-text">By better understanding the true consequences of a traffic
              violation conviction, you'll see the benefit of having a good driving record.
              Find out much you'll save.</div>

            <div class="insurance-calculator-wrapper hide">
              <div class="insurance-calc-note">
                Our insurance premium calculator shows you the average percentage increase
                to your car insurance for 12 common infractions.
                <span class="disclaimer">Percentages based on the national average.</span>
              </div>
              <div class="insurance-calculator">
                <div class="calculator-form">
                  <div class="row">
                    <div class="label">Age</div>
                    <div class="slider-container">
                      <div wn-slider ng-model="age" min="minAge" max="maxAge" class="slider-wrapper"></div>
                    </div>
                    <div class="age-value">{{age}}<span> yrs old</span></div>
                  </div>
                  <div class="row">
                    <div class="label">Violation</div>
                    <div class="list" style="width:310px;margin-top:-10px;">
                      <label class="item item-input item-select" style="height:40px;">
                        <select ng-model="selectedViolation"
                                ng-options="violation.value as violation.name for violation in violationOptions">
                        </select>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="label">Current insurance premium</div>
                    <div class="slider-container">
                      <div wn-slider ng-model="monthlyPremium" min="minPremium" max="maxPremium" class="slider-wrapper premium"></div>
                    </div>
                    <div class="premium-value">${{monthlyPremium}}<span>/month</span></div>
                  </div>
                  <button class="calculate-insurance-button" ng-click="calculatePremium(age, selectedViolation, monthlyPremium)">Calculate</button>
                </div>
                <div class="calculator-results">
                  <div class="price-gauge">
                    <img src="../../img/color-gauge.png">
                  </div>
                  <div class="gauge-needle">
                    <img src="../../img/gauge-needle.png">
                  </div>
                  <div class="gauge-label">
                    <div class="rate-label">Est. rate increase</div>
                    <div class="rate-value">{{percentIncreaseString}}%</div>
                  </div>
                </div>
                <div class="increase-text" ng-if="premiumIncrease">
                  <div class="increase-label">How much this ticket could cost you in extra insurance premiums: </div>
                  <div class="increase-value">
                    <div style="display:inline-block;color: #DA2B2B;width:300px;">
                      <i class="icon ion-android-arrow-up" style="color: #DA2B2B;margin-top: -16px;margin-right: -30px;font-size: 50px;"></i>
                      <div>${{premiumIncrease}}<span style="font-size: 22px;"> over 3 years</span></div>
                    </div>
                  </div>
                </div></div>
            </div>
          </div>

          <div class="action promise" ng-click="showAction3Modal()">
            <i class="icon ion-star"></i>
            <h1>Our promise</h1>
            <div>Fighting a ticket shouldn't be risk prone. If we fail to get your ticket dismissed
              or amended, we'll issue you a full refund. No questions asked.</div>
          </div>
      </div>
    </div>

    <div class="button-wrapper" style="margin-bottom: 150px;">
      <button class="big-blue-button" ng-click="fightNewTicket('/ticket')">Fight My Ticket</button>
      <div style="height: 70px;"></div>
    </div>
  </ion-content>
</ion-view>

<style>
  select {
    font-size: 20px;
    max-width: 100%!important;
  }
</style>
