
<ion-modal-view ng-controller="LoginCtrl">
  <ion-header-bar>
    <h1 class="title">{{loginModalTitle}}</h1>
    <div class="close-login-modal button" ng-click="closeLoginModal()">X</div>
  </ion-header-bar>

  <ion-content delegate-handle="loginModal">
    <div class="page login-view">
      <div class="login-options" ng-if="showLoginOptions">
        <button class="facebook-login-button" ng-click="loginWithFacebook()">
          <i class="icon button-icon ion-social-facebook"></i>
          <span>{{ !user || !user.isFbAuthed ? 'Login with Facebook' : 'Logout from Facebook' }}</span></button>
        <button class="email-login-button" ng-click="loginWithEmail()">
          <i class="icon button-icon ion-email"></i>
          <span>Login with Email</span>
        </button>
        <hr/>
        <button class="signup-button" ng-click="signup()">
          <i class="icon button-icon ion-person-add"></i>
          <span>Sign up</span>
        </button>
      </div>

      <div class="email-login-form" ng-if="showEmailLogin">
          <div class="row">
            <input type="text" name="email" ng-model="email" placeholder="Email" focus-me="true" />
          </div>
          <div class="row">
            <input type="password" name="password" ng-model="password" ng-enter="submitEmailLoginForm(email, password)" placeholder="Password" />
          </div>
          <div class="form-errors" ng-bind-html="errorMessage" ng-if="errorMessage.length"></div>
          <button class="login-button big-blue-button" ng-disabled="loading" ng-click="submitEmailLoginForm(email, password)">
              Login
              <ion-spinner icon="spiral" class="button-spinner spinner-light" ng-if="loading"></ion-spinner>
          </button>
        <button class="cancel" ng-click="cancelEmailLogin()">Cancel</button>
      </div>

      <div id="signup-form" ng-if="showSignup">
        <div class="row">
          <input type="text" ng-model="newUser.firstname" placeholder="First name" focus-me="true" />
        </div>
        <div class="row">
          <input type="text" ng-model="newUser.lastname" placeholder="Last name" />
        </div>
        <div class="row">
          <input type="text" ng-model="newUser.emailAddress" placeholder="Email" />
        </div>
        <div class="row">
          <input type="password" ng-model="newUser.password" placeholder="Choose a password" ng-enter="submitSignupForm(newUser)" />
        </div>
        <div class="row">
          <dropdown placeholder="How did you find us?" list="referralSources" selected="selectedSource" property="uiDisplayText"></dropdown>
        </div>
        <div class="row" ng-if="showReferralCode">
          <input type="text" ng-model="newUser.referralCode" placeholder="Do you have a referral code?" />
        </div>
        <div class="form-errors" ng-bind-html="errorMessage" ng-if="errorMessage.length"></div>

        <button type="submit" class="signup-submit-button big-blue-button" ng-disabled="loading" ng-click="submitSignupForm(newUser)">
          Signup
          <ion-spinner icon="spiral" class="button-spinner spinner-light" ng-if="loading"></ion-spinner>
        </button>
        <button class="cancel" ng-click="cancelSignup()">Cancel</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
