
<div class="page match-view" ng-if="match && !matchErrorMessage">

  <div class="match-found" ng-if="match && !matchErrorMessage">

    <h2 class="match-title">
      <i class="icon ion-checkmark"></i>
      We can fight your ticket!
    </h2>
    <h4 class="match-subtitle">We were able to match you with one of the top-rated traffic attorneys in {{citation.court.city}}.</h4>

    <h3 class="match-odds-text">Your chance of getting this ticket off your record:</h3>
    <h2 class="match-odds-value">93%</h2>
    <br>
    <h3 class="match-cost-text">Your cost:</h3>
    <h2 class="match-cost-value">${{currentCase.caseEstimatedCost}}</h2>

    <br><br>
    <button class="confirm-match-button" ng-click="confirmMatch()">Continue</button>
  </div>

  <div class="no-match-found" ng-if="!match && matchErrorMessage">
    <h2>Hmm...</h2>
    <h4>Looks like we don't have any attorneys fighting in this court.</h4>
    <br>
    <h4>We're working hard to expand quickly. Please request your area to make sure we're there next time!</h4>

    <button class="request-coverage-button" ng-click="requestMyArea()">Request my area</button>
    <button class="request-coverage-button cancel" ng-click="goBack()">Cancel</button>
  </div>

</div>

<style>
.match-background-img {
  background-image: url("../img/lawyer_tie_blur.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.page.match-view {
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
  height: 100%;
  padding: 10px 25px;
}
.page.match-view h2, .page.match-view h3, .page.match-view h4 {
  color: white;
}
.page.match-view .ion-checkmark {
  color: lightgreen;
  font-size: 2.2em;
  right: 5px;
  top: 6px;
  position: relative;
}
.page.match-view .request-coverage-button {
  width:68%;
}
.page.match-view .request-coverage-button.cancel {
  margin-left: 0px;
  width: 30%;
}
.page.match-view .confirm-match-button {
  position: absolute;
  bottom: 50px;
  left: 1%;
  width: 98%;
}
</style>
