
<ion-view class="page payment-view" ng-class="{ 'gray-background': paymentProcessed }">
  <ion-content scroll="true">
    <div class="payment-view" ng-if="!paymentProcessed">
      <div class="transaction-title">Transaction Details</div>
      <ul class="transactions">
        <li class="primary">
          <div class="transaction-item">Legal services to contest traffic ticket, 1 moving violation</div>
          <div class="transaction-fee">${{currentCase.baseCost | currency : '$' }}</div>
        </li>
        <li class="secondary" ng-if="citation.extraViolations > 0">
          <div class="transaction-item">{{citation.extraViolations}} additional violation{{citation.extraViolations != 1 ? 's' : ''}}</div>
          <div class="transaction-fee">${{currentCase.violationSurcharge | currency : '$' }}</div>
        </li>
        <li class="secondary">
          <div class="transaction-item light-text">
            <span ng-if="citation.involvesAccident">Accident involved</span>
            <span ng-if="!citation.involvesAccident">No accident involved</span>
          </div>
        </li>
        <li class="secondary">
          <div class="transaction-item light-text">
            <span ng-if="citation.isPastDue">Ticket overdue</span>
            <span ng-if="!citation.isPastDue">Ticket not overdue</span>
          </div>
        </li>
        <li class="secondary discount-applied" ng-if="discountValue">
          <div class="transaction-item discount-applied">Referral code applied ({{discountCode}})</div>
          <div class="transaction-fee discount-value">{{appliedDiscountString | currency : '$' }}</div>
        </li>
        <li class="secondary matched-lawyer" ng-if="isLawyerMatch">
          <i class="icon ion-android-star"></i>
          <div>Your case will be assigned to <span>{{currentCase.lawfirmName}}</span>.</div>
        </li>
      </ul>
      <ul class="transactions transactions-discount">
        <li class="secondary discount">
          <div class="discount-code">Referral code</div>
          <button class="button apply-discount" ng-click="validateDiscount()">Apply</button>
          <input type="text" class="discount-code">
          <div class="error-message" ng-if="discountErrorMsg">{{discountErrorMsg}}</div>
        </li>
      </ul>
      <ul class="transactions transactions-total">
        <li class="secondary total">
          <div class="transaction-item">Total</div>
          <div class="transaction-fee">${{currentCase.totalCost | currency : '$' }}</div>
        </li>
      </ul>

      <div class="refund-note" ng-click="showRefundModal()">
        <i class="ion-cash"></i>
        If your case is not successful, we will refund this fee.
      </div>
      <div class="next-step" ng-click="showNextStepModal()">
        <i class="ion-arrow-right-a"></i>
        What happens next?
      </div>

      <form method="POST" action="" id="stripe-cc-form" ng-submit="verifyCard($event)">

        <h4>To book this case, please provide a credit card:</h4>

        <div class="form-row" style="margin-right: 10px">
          <input type="text" id="card-number" size="21" maxlength="16" data-stripe="number"
                 placeholder="Card number" style="font-size: 2.1em" value=""/>
        </div>

        <div class="form-row" style="margin-right:10px;">
          <input type="text" id="cvc" size="4" maxlength="4" data-stripe="cvc"
                 placeholder="CVC" style="font-size: 2.1em" value=""/>
        </div>

        <div class="form-row">
          <input type="text" size="2" maxlength="2" data-stripe="exp-month"
            placeholder="mm" style="float:left;font-size: 2.1em" value=""/>
        </div>
        <div class="form-row" style="height: 10px;">
          <div class="date-separator">/</div>
        </div>
        <div class="form-row">
          <input type="text" size="5" maxlength="4" data-stripe="exp-year"
                 placeholder="yyyy" style="font-size: 2.1em" value=""/>
        </div>

        <div class="payment-errors" ng-show="errorMessage">{{errorMessage}}</div>

        <div class="terms-disclaimer" ng-if="isCardVerified">By clicking on “Confirm payment”, you agree to pay the total amount
          shown above, and to the <a href="javascript:void(0);" ng-click="viewTerms()">Terms of Service</a>
          and <a href="javascript:void(0);" ng-click="viewCancelPolicy()">Cancellation Policy</a>.
        </div>

        <button type="submit" name="submit" style="clear:both;margin-top:10px;width: 100%" class="big-blue-button" ng-if="!isCardVerified">Verify card</button>
        <button type="button" style="margin-top: 10px;width: 100%;" class="big-blue-button" ng-if="isCardVerified" ng-click="confirmPayment()">Confirm payment</button>
      </form>
      <div style="height:70px"></div>
    </div>

    <ng-include src="'views/caseCreated.html'"></ng-include>
  </ion-content>
</ion-view>


<style>
  .page.payment-view .gray-background {
    background-color: #F0F3F4;
  }
  @media (max-width: 450px) {
    .page.payment-view #stripe-cc-form {
      font-size: 10px;
    }
  }
  .page.payment-view #stripe-cc-form {
    margin-top: 15px;
    background-color: white;
    border: solid 1px #dedede;
    padding: 10px;
    margin-bottom: 50px;
  }
  .page.payment-view #stripe-cc-form h4 {
    font-size: 16px;
  }
  .page.payment-view #stripe-cc-form .payment-errors {
    clear:both;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #cc0000;
    font-size: 1.1em;
  }
  .page.payment-view #stripe-cc-form .form-row {
    position: relative;
    float: left;
    padding-bottom: 1.875em;
    margin-bottom: 3em;
  }
  .page.payment-view #stripe-cc-form .form-row .date-separator {
    font-size: 3em;
    line-height: 1.5em;
    height: 2em;
    color: #ccc;
    font-weight: lighter;
  }
  .page.payment-view #stripe-cc-form label {
    display: block;
    position: absolute;
    top: -18px;
    font-size: 0.75em;
    line-height: 1.25em;
    font-weight: bold;
    color: #2996cc;
  }
  .page.payment-view #stripe-cc-form input{
    display: block;
    box-sizing: border-box;
    font-size: 1.5em;
    line-height: 1.25em;
    padding: 0.3125em 0.3em;
    color: #1f66ad;
    height: 1.875em;
    width: 100%;
    outline: none;
    border: 2px solid #EFEFEF;
    font-weight: lighter;
    border-radius: 3px;
  }
  .page.payment-view #stripe-cc-form input:valid {
    position: relative;
    top: 1.875em;
    margin-top: -1.875em;
   }
  .page.payment-view #stripe-cc-form input:focus {
     border-bottom-color: #2996cc;
   }

  .page.payment-view .transaction-title {
    font-size: 1.1em;
    font-weight: 200;
    text-transform: uppercase;
    color: #666;
    padding: 10px 0px 5px 3px;
  }
  .page.payment-view ul.transactions {
    background-color: white;
    border: solid 1px #dfdfdf;
    padding: 5px 10px 15px 10px;
    border-radius: 3px;
  }
  .page.payment-view ul.transactions-total {
    margin-top: 5px;
    padding-top: 15px;
  }
  .page.payment-view ul.transactions li {
    overflow: auto;
  }
  .page.payment-view ul.transactions li.primary {
    margin-top: 10px;
    overflow: auto;
  }
  .page.payment-view ul.transactions li.secondary {
    /*margin-bottom: 5px;*/
    overflow: auto;
    --list-style-type: disc;
  }
  .page.payment-view ul.transactions li.primary .transaction-item {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 80%;
    float: left;
  }
  .page.payment-view ul.transactions li.secondary .transaction-item {
    margin-left: 20px;
    float: left;
  }
  .page.payment-view ul.transactions .transaction-fee {
    float: right;
    width: 70px;
    text-align: right;
  }

  .page.payment-view ul.transactions li.secondary.total {
    font-weight: 500;
    margin-left: -10px;
  }
  .page.payment-view .refund-note {
    padding: 7px;
    margin: 10px 0 5px 0;
    border-radius: 3px;
    color: #39ab39;
    cursor: pointer;
    border: solid 1px transparent;
  }
  .page.payment-view .refund-note:hover {
    border: solid 1px rgba(57,171,57,0.4);
  }
  .page.payment-view .refund-note i {
    font-size: 1.6em;
    margin-right: 12px;
    float: left;
  }
  .page.payment-view .next-step {
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #417EEF;
    cursor: pointer;
    border: solid 1px transparent;
  }
  .page.payment-view .next-step:hover {
    border: solid 1px rgba(65,126,239,0.4);
  }
  .page.payment-view .next-step i {
    font-size: 1.6em;
    margin-right: 12px;
    margin-left: 5px;
    float: left;
  }
</style>
