
<ion-view ng-cloak style="background-color:#F0F3F4">
  <ion-scroll  class="page profile-view cases-view">
    <div class="view-wrapper">

      <div class="page-header" style="margin-left: 0px;">
        <i class="icon ion-person" style="margin-top:-5px;margin-right:11px;"></i>
        <h1>User Profile</h1>
      </div>

      <div ng-if="!userLoaded" class='loading-box'>
        <ion-spinner icon='ios'></ion-spinner>
      </div>

      <div ng-if="userLoaded">
        <div class="left-col">
          <div class="user-photo">
            <img ng-src="{{userPhoto}}" style="height:200px;with:200px">
          </div>
          <div class="username">{{user.firstname}} {{user.lastname}}</div>
        </div>
        <div class="right-col">
          <div class="user-details">
            <div class="row">
              <div class="label">Name</div>
              <div class="value">{{user.firstname}} {{user.lastname}}</div>
            </div>
            <div class="row">
              <div class="label">Email</div>
              <div class="value">{{user.emailAddress}}</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ion-scroll>
</ion-view>
