
<ion-view class="page ticket-view">
  <ion-content>
    <div class="top-section">
      <div class="step-container">
        <i class="icon ion-camera"></i>
        <h1 class="step-title">STEP 1</h1>
      </div>
      <h4 class="step-text">Take a clear photo of your ticket.</h4>
      <div class="step-notes">This will tell us almost everything we need to know about your ticket. Make sure the photo is clear and legible.</div>
    </div>
    <div class="bottom-section" ng-class="{ 'image-review': images.length }">
      <div class="image-input-options" ng-show="!capturingImage && !images.length && !showFileInputView">
        <button class="button big-blue-button" ng-click="addMedia()" ng-show="!capturingImage && !images.length">
          Add a picture
          <ion-spinner ng-show="showSelectSpinner" icon='ios' style="stroke:white;top:15px;right:40px;position:absolute;"></ion-spinner>
        </button>
        <div ng-if="inputErrorMessage" style="color: #FF4D4D;margin-top:20px;">{{inputErrorMessage}}</div>
      </div>

      <!-- File upload section  -->
      <div class="file-input-container" ng-show="showFileInputView">
        <h4>Please upload a picture of your ticket:</h4>

        <span class="btn btn-file">
            Browse <input type="file" id="ticket-photo-input">
        </span>

        <div class="error-message" ng-if="inputErrorMessage.length">{{inputErrorMessage}}</div>
      </div>

      <!-- HTML5 canvas section -->
      <div ng-show="capturingImage">
        <video autoplay></video>
        <h4 class="image-instruction-text">Please take a clear photo of your ticket</h4>
        <div class="shutter-button"></div>
      </div>

      <!-- Display captured image -->
      <div class="ticket-image-container" ng-show="images.length">
        <img id="image-capture" src="" />
      </div>
      <div class="option-buttons" ng-show="images.length">
        <button class="retake-picture" ng-click="retakePicture()">{{!base64Image ? "Retake picture" : "Select another image"}}</button>
        <button class="continue" ng-click="continue()">Continue</button>
      </div>

      <canvas style="display:none;" width="1280" height="720"></canvas>
    </div>
  </ion-content>

</ion-view>
