
<ion-view class="page ticket-view">
  <ion-content scroll="false">
    <div class="image-input-options" ng-show="!capturingImage && !images.length && !showFileInputView">
      <h4 ng-show="!images.length && !capturingImage">Please provide a clear photo of your ticket</h4>

      <button class="button camera-button" ng-click="addMedia()" ng-show="!capturingImage && !images.length"></button>
    </div>

    <div class="file-input-container" ng-show="showFileInputView">
      <h4>Please upload a picture of your ticket:</h4>
      <input type="file" id="ticket-photo-input" />
      <div class="error-message" ng-if="inputErrorMessage.length">{{inputErrorMessage}}</div>
    </div>

    <div ng-show="capturingImage">
      <video autoplay></video>
      <h4 class="image-instruction-text">Please take a clear photo of your ticket</h4>
      <div class="shutter-button"></div>
    </div>

    <div class="ticket-image-container" ng-show="images.length">
      <img id="image-capture" src="" />
    </div>

    <canvas style="display:none;" width="1280" height="720"></canvas>
  </ion-content>

  <div class="bottom-bar" ng-show="images.length">
    <button class="retake-picture" ng-click="retakePicture()">{{!base64Image ? "Retake picture" : "Select another image"}}</button>
    <button class="continue" ng-click="continue()">Continue</button>
  </div>

</ion-view>

<style>
  .page.ticket-view {
    background-color: #efefef;
  }
  #image-capture {
    border: solid 1px #999;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  }
  #image-capture.portrait {
    height: 100%;
    width: auto;
  }
  #image-capture.landscape {
    width: 100%;
    height: auto;
  }
</style>
