<ion-popover-view class="user-dropdown">
  <!--<ion-header-bar>
    <i class="icon icon-ios-person"></i>
    <h1 class="title">{{user.firstname}} {{user.lastname}}</h1>
  </ion-header-bar>-->
  <ion-content scroll="false">
    <ion-list class="user-actions">
      <a style="display: block;" ng-click="viewProfile()">
        <ion-item>
          <i class="icon ion-person"></i>
          Profile
        </ion-item>
      </a>
      <a style="display: block;">
        <ion-item>
          <i class="icon ion-gear-a"></i>
          Settings
        </ion-item>
      </a>
      <a style="display: block;" ng-click="logout()">
        <ion-item>
          <i class="icon ion-log-out"></i>
          Log out
        </ion-item>
      </a>
    </ion-list>
  </ion-content>

</ion-popover-view>


<style>
  .user-actions a i {
    margin-right: 8px;
    font-size: 20px;
    color: #555;
  }
</style>
