
<ion-view class="page violation-view" ng-class="{ 'match-background-img': match && !matchErrorMessage }"
  ng-style="{ 'text-align': match && !matchErrorMessage ? 'center' : 'left' }">
  <ion-content>
    <div class="" ng-if="!match && !matchErrorMessage">
      <div class="top-section">
        <div class="step-container">
          <i class="icon ion-speedometer"></i>
          <h1 class="step-title">STEP 4</h1>
        </div>
        <h4 class="step-text">How many moving violations are listed on your ticket?</h4>
        <div class="step-notes">A moving violation occurs whenever a traffic law is violated by a vehicle in
          motion. Some examples of moving violations are speeding, running a stop sign or red light, and drunk
          driving. A non-moving violation, by contrast, is usually related to parking or faulty equipment.<br><br>
          Since non-moving violations do not appear on your record, we only recommend contesting moving violations.</div>
      </div>
      <div class="bottom-section">
        <button class="violation-button" ng-click="setViolationCount(1)" ng-class="{ 'active': violationCount === 1 }">1</button>
        <button class="violation-button" ng-click="setViolationCount(2)" ng-class="{ 'active': violationCount === 2 }">2</button>
        <button class="violation-button" ng-click="setViolationCount(3)" ng-class="{ 'active': violationCount === 3 }">3</button>
        <button class="violation-button" ng-click="setViolationCount(4)" ng-class="{ 'active': violationCount === 4 }">4</button>
        <button class="violation-button" ng-click="setViolationCount(5)" ng-class="{ 'active': violationCount === 5 }">5</button>

        <div style="display: block;margin-top: 30px;">
          <section title=".squaredTwo" style="display:inline-block">
            <div class="squaredTwo">
              <input type="checkbox" value="None" id="squaredTwo" name="check" ng-model="involvesAccident" />
              <label for="squaredTwo"></label>
            </div>
            <div class="checkbox-description">Involved an accident</div>
          </section>
        </div>
      </div>

      <div class="button-wrapper">
        <button class="big-blue-button match-ticket-button" ng-click="fightThisTicket()" ng-show="violationCount && !match">
          Fight this ticket!
        </button>
      </div>
    </div>
  </ion-content>

  <ng-include src="'views/match.html'"></ng-include>
</ion-view>
