
<ion-view class="page violation-view">
  <div>
    <h4>How many violations are listed on your ticket?</h4>

    <button class="violation-button" ng-click="setViolationCount(1)" ng-class="{ 'active': violationCount === 1 }">1</button>
    <button class="violation-button" ng-click="setViolationCount(2)" ng-class="{ 'active': violationCount === 2 }">2</button>
    <button class="violation-button" ng-click="setViolationCount(3)" ng-class="{ 'active': violationCount === 3 }">3</button>
    <button class="violation-button" ng-click="setViolationCount(4)" ng-class="{ 'active': violationCount === 4 }">4</button>
    <button class="violation-button" ng-click="setViolationCount(5)" ng-class="{ 'active': violationCount === 5 }">5</button>
  </div>

  <button class="match-ticket-button" ng-click="fightThisTicket()" ng-show="violationCount && !match">
    Fight this ticket!
  </button>

  <!--button ng-click="showModal()">Login</button-->
  <ng-include src="'views/match.html'"></ng-include>
</ion-view>



