/* Empty. Add your own CSS if you like */

body {
  -webkit-font-smoothing: antialiased!important;
}

.page {
  padding: 10px 15px;
}
.page h4 {
  font-weight: 200;
  font-size: 20px;
}
.page button {
  width: 100%;
  background-color: #1262be /*rgb(26, 93, 162)*/;
  cursor: pointer;
  color: white;
  height: 60px;
  font-size: 1.5em!important;
  border: solid 1px rgb(31, 85, 142);
  border-radius: 3px;
}
.page button.activated {
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
  font-size: 20.5px!important;
}
.page button:hover {
  opacity: 1;
  background-color: rgb(36, 103, 172);
}
.page button.bottom {
  position: absolute;
  bottom: 50px;
  left: 1%;
  width: 98%;
}
button.cancel {
  width: 48%;
  background-color: white;
  height: 60px;
  border: solid 1px #cdcdcd;
  color: #333;
  margin-top: 30px;
  cursor: pointer
}
button.cancel:hover {
  background-color: #efefef;
  color: #333;
}
.bottom-bar .OLD {
  position: absolute;
  top: 0;
  width: 100%;
}
.light-text {
  font-weight: 300;
}
hr {
  display: block;
  clear: both;
  margin: 2em 0;
  border: 0;
  outline: 0;
  height: 2px;
  background: #ddd;
}

.loading-container .loading {
  background-color: rgba(255,255,255,0.7);
}
.loading-container .loading.error-modal {
  width: 90%!important;
  max-width: 380px!important;
  background-color: white;
}
.loading-container .loading .loading-text {
  margin: 10px 0 5px 0;
  color: #333;
}
.loading-container .loading .loading-link {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  top: -75px;
  right: -85px;
  color: #ccc;
  height: 0;
}

/************* NAV ************/
.step-completed, .step-not-completed  {
  margin: 0px 0px 0px 0px;
  color: rgb(70,230,70);
  float: right;
}
.step-not-completed {
  color: #FF5555;
  font-size: 2em;
  margin-top: -5px;
  height: 0.8em;
}
.popover.user-dropdown {
  width: 190px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  height: 111px;
  background-color: transparent;
  margin-left: 10px;
  margin: 0px 0px 0 0;
  border-top: solid 1px rgba(255, 255, 255, 0.4)!important;
}
.popover.user-dropdown .scroll-content {
  margin: 0;
}
.user-actions .list {
  padding-top: 0;
}
.user-actions a .item {
  background-color: rgb(239, 239, 239);
  color: #333;
  padding: 17px 15px 17px 25px;
  margin-bottom: 1px;
  font-weight: 300;
}
.user-actions a .item:hover {
  background-color: rgb(220, 220, 220);
  color: #333;
  cursor: pointer;
}
.button.login-nav-button {
  max-width: 30%;
  padding-right: 15px;
  padding-top: 5px;
  right: 0!important;
  top: 0!important;
  bottom: 0!important;
  color: #1262be;
}
.button.login-nav-button i {
  float: left;
  padding-right: 5px;
}
.button.login-nav-button img {
  height: 30px;
  width: 30px;
  float: left;
  margin-right: 10px;
  margin-top: 1px;
  border-radius: 1px;
}
.button.login-nav-button div {
  height: 100%;
  overflow: hidden;
  text-align: left;
  /*white-space: nowrap;
  text-overflow: ellipsis;*/
}

/************* ERROR MODAL ************/
.error-box {
  padding: 10px;
  text-align: left;
  width: 100%;
}
.error-box .error-text {
  font-weight: 200;
  font-size: 1.1em;
  color: #666;
  width: 93%;
  overflow: auto;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 10px;
}
.error-box .error-button {
  width: 100%;
  margin-top: 10px;
  background-color: rgba(70, 193, 255, 0.90);
  border-color: transparent;
  color: white;
  cursor: pointer;
  margin-bottom: -10px;
}
.error-box .error-button:hover {
  background-color: rgba(70, 193, 255, 0.70);
}
@media (max-width: 500px) {
  .error-box .error-text {
    padding: 5px 15px 5px 5px;
  }
  .error-box .error-button {
    margin: 10px 0px 0px 0px;
  }
}

/************* LOGIN MODAL ************/
.login-view {
  min-height: 600px;
}
.button.close-login-modal {
  position: absolute;
  right: 23px;
  top: 16px;
  color: #a9a9a9;
  font-size: 18px;
  font-weight: lighter;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0px 15px;
}
.button.close-login-modal:hover {
  color: #999;
  font-weight: normal;
}
i.icon.button-icon {
  font-size: 31px;
  top: 2px;
  position: relative;
  right: 15px;
  line-height: 0px;
}


/* Progress section */
.progress-section {
  margin-top: 52px;
  padding: 10px 30px 0 30px;
  text-align: center;
}
.progress-section .progress-bar {
  max-width: 600px;
  margin: auto;
}
.progress-section .progress-bar .step {
  width: 24%;
  display: inline-block;
  margin-left: -4px!important;
  font-size: 12px;
  color: #777;
  text-transform: uppercase;
  position: relative;
  opacity: 0.5;
}
.progress-section .progress-bar .step .step-name {
  word-wrap: normal;
}
.progress-section .progress-bar .step .progress-line {
  border-bottom: solid 1px #777;
  height: 10px;
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.progress-section .progress-bar .step i {
  color: #777;
  font-size: 25px;
  width: 24%;
  display: inline-block;
}
.progress-section .progress-bar .step.completed {
  color: #147bd8;
  opacity: 1;
}
.progress-section .progress-bar .step.completed .progress-line {
  border-bottom: solid 1px #147bd8;
}
.progress-section .progress-bar .step.completed i {
  color: #147bd8;
}

/* All ".page" views */
.page .has-header {
  top: 0px!important;
}
.page {
  background-color: #F0F3F4;
}
.top-section {
  background-color:#F0F3F4;
  width: 100%;
  padding: 10px 30px 30px 30px;
  overflow: auto;
  color: #555!important;
}
.top-section i {
  color: #147bd8;
  font-size:40px;
  float: left;
}
.top-section h1 {
  font-family: "Raleway", sans-serif;
  width: auto;
  color: #333!important;
  font-family: "Raleway", sans-serif;
  float: left;
  margin-top: 0px;
  margin-left: 15px;
}
.top-section h4 {
  color: #666;
  font-size: 26px;
  margin-bottom: 15px;
}
.top-section .step-container {
  display: inline-block;
  margin-bottom: -15px;
  width: 100%;
}
@media (max-width: 599px) {
  .top-section .step-container {
    margin-top: 10px;
    width: initial;
  }
}
.step-notes {
  font-family: "Helvetica";
  font-weight: 300;
  color: #888;
}
.bottom-section {
  background-color: white;
  padding: 30px;
  width: 100%;
  text-align: center;
  position: relative;
}
button.big-blue-button {
  width: 50%;
  min-width: 250px;
  color: white;
  background: #2a81d7;
  background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
  -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
  cursor: pointer;
  text-shadow: 0 -1px 1px #3275bc;
}
button.big-blue-button.inverted {
  color: #147bd8;
  background-color: transparent;
}
button.big-blue-button:hover {
  background-color: #147bd8;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  background: -moz-linear-gradient(0% 100% 90deg, #10386a, #3e9ee5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#42a8f3), to(#1e64bd));
}
.button-wrapper {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 130px;
}

/************* TICKET VIEW ************/
.ticket-view .bottom-section.image-review {
  margin-top: -140px;
}
.ticket-view .image-input-options {
  text-align: center;
  height: 100%;
}
.ticket-view .ticket-image-container {
  margin: -20px -20px 90px -20px;
}
@media (min-width:1020px) {
  .ticket-view .bottom-section.image-review {
    margin-top: -140px;
  }
}
@media (max-width:1020px) {
  .ticket-view .bottom-section.image-review {
    margin-top: -160px;
  }
}
@media (max-width:768px) {
  .ticket-view .bottom-section.image-review {
    margin-top: -160px;
  }
}
@media (max-width:600px) {
  .ticket-view .bottom-section.image-review {
    margin-top: -180px;
  }
}
@media (max-width:450px) {
  button.button.camera-button {
    width: 60%
  }
  .ticket-view .bottom-section.image-review {
    margin-top: -180px;
  }
}
button.button.camera-button:active {
  background-image: url('../img/camera-icon-hover.png');
  border:none;
}
button.button.camera-button.activated {
  box-shadow: none;
}
video {
  background-color: black;
  width: 100%;
  max-height: 84vh;
}
.ticket-view h4.image-instruction-text {
  margin-top: -4px;
  color: white;
  background-color: green;
  opacity: 0.8;
  height: 60px;
  line-height: 60px;
  font-weight: 300;
}
.shutter-button {
  background-image: url("../img/shutter.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  height: 100px; /*or your image's height*/
  margin: 0;
  padding: 0;
  position: relative;
  top: -150px;
  left: 46%;
  cursor: pointer;
  opacity: 1.0;
}
.shutter-button:active {
  background-image: url("../img/shutter-open.png");
}
.option-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 12px!important;
}
#image-capture {
  border: solid 1px #999;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
}
/*@media (max-width:450px) {*/
/*#image-capture.landscape {*/
/*width: 85%;*/
/*height: auto;*/
/*}*/
/*}*/
button.continue {
  font-family: "Lato", sans-serif;
  padding: 15px 20px;
  background-color: rgb(34, 210, 104);
  border: solid 1px transparent;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  float: right;
  margin: 20px;
  width: auto;
  font-size: 20px!important;
  font-weight: 300;
}
button.continue:hover {
  background-color: rgb(34, 210, 104);
  border: solid 1px rgba(255, 255, 255, 0.8);
}
button.retake-picture {
  font-family: "Lato", sans-serif;
  padding: 15px 20px;
  background-color: white;
  color: #555;
  border: solid 1px transparent;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  float: left;
  margin: 20px;
  width: auto;
  font-size: 20px;
  font-weight: 300;
}
button.retake-picture:hover {
  color: black;
  background-color: #f5f5f5;
  border: solid 1px transparent;
}
@media (max-width: 400px) {
  button.retake-picture, button.continue {
    margin: 5px;
  }
}
@media (max-width: 350px) {
  button.retake-picture, button.continue {
    margin: -15px 9px;
    padding: 10px 20px;
    font-size: 14px!important;
    font-weight: inherit;
  }
}
.btn-file {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  display: block;
  width: 40%;
  margin-bottom: 0;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 2em;
  border-radius: 4px;
  -webkit-user-select: none;
  position: absolute;
  top: 60px;
  left: 30%;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  /* font-size: 100px; */
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
/*@media (max-width: 450px) {*/
/*}*/
.ticket-view input[type='file'] {
  margin-top: 10px;
}
.ticket-view input[type='file'] /deep/ button {
  color: #fff;
  background: #428bca;
  border: 1px solid #2b669a;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15),
  0 1px 1px rgba(0, 0, 0, .075);
  padding: .8em 1.1em;
  font-size: 1.3em;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}
.ticket-view input[type='file'] /deep/ button:hover {
  background: #62abea;
}
.ticket-view input[type='file'] /deep/ button:active {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15),
  3px 3px 3px rgba(0, 0, 0, .25);
}
.ticket-view .file-input-container {
  text-align: center;
}

/************* COURT VIEW ************/

.page.court-view ion-header-bar {
  padding: 0;
  top: 0;
  border-bottom: none;
  margin: 0;
}
.page.court-view ion-header-bar i.ion-ios-search {
  position: absolute;
  top: 37px;
  left: 45px;
  font-size: 45px;
  color: #ccc;
}
.page.court-view ion-header-bar input {
  line-height: 30px;
  border: solid 3px #f0f0f0;
  width: 90%;
  font-size: 2em;
  color: #444;
  font-weight: lighter;
  padding: 8px;
  padding-left: 60px;
  -webkit-appearance: inherit;
}
.page.court-view ion-content.has-subheader {
  top: 118px;
}
@media (max-width: 1080px) {
  .page.court-view ion-content.has-subheader {
    top: 117px;
  }
  .page.court-view ion-header-bar input {
    width: 88%;
  }
}
@media (max-width: 855px) {
  .page.court-view ion-content.has-subheader {
    top: 137px;
  }
  .page.court-view ion-header-bar input {
    width: 84%;
  }
}
@media (max-width: 600px) {
  .page.court-view ion-content.has-subheader {
    top: 155px;
  }
  .page.court-view ion-header-bar input {
    width: 84%;
  }
}
@media (max-width: 450px) {
  .page.court-view ion-content.has-subheader {
    top: 73px;
  }
  .page.court-view ion-header-bar input {
    width: 78%;
  }
  .page.court-view .top-section {
    padding-bottom: 10px!important;
  }
  .page.court-view .top-section .step-container {
    margin-top: 0px;
  }
  .page.court-view .top-section .step-text {
    margin: 3px -10px 5px -10px;
    font-size: 20px;
  }
  .page.court-view .top-section .step-notes {
    font-size: 12px;
    margin: 0 -10px 5px -10px;
  }
  .page.court-view .bottom-section {
    padding: 10px 30px;
  }
  .page.court-view ion-header-bar i.ion-ios-search {
    top: 17px;
  }
  .page.court-view .button {
    top: 9px!important;
  }
  .page.court-view .selected-court-details {
    padding: 15px 15px;
    margin: 10px 10px;
  }
  .page.court-view .selected-court-text {
    font-size: 12px;
    margin-bottom: 15px;
    color: #999;
    line-height: 16px;
  }
  .page.court-view .selected-court-name {
    font-size: 16px;
    margin-top: -6px;
  }
  .page.court-view .selected-court-city {
    font-size: 14px;
    margin-top: -7px;
  }
  .page.court-view .selected-court-icon {
    height: 35px;
    width: 35px;
    margin: -6px 10px 0 5px;
  }
}
@media (max-width: 373px) {
  .page.court-view ion-content.has-subheader {
    top: 93px;
  }
  .page.court-view ion-header-bar input {
    width: 75%;
  }
  .page.court-view .top-section .step-text {
    margin: 3px -10px 5px -10px;
    font-size: 18px;
  }
  .page.court-view .selected-court-details {
    padding: 10px 15px;
    margin: 5px 10px;
  }
  .page.court-view .selected-court-name {
    font-size: 14px;
    margin-top: -6px;
  }
  .page.court-view .selected-court-city {
    font-size: 12px;
    margin-top: -10px;
  }
  .page.court-view .selected-court-icon {
    height: 30px;
    width: 30px;
    margin: -5px 10px 0 5px;
  }
}
.page.court-view .results-container {
  margin-top: 148px;
  text-align: center;
}
.page.court-view .results-container {
  text-align: left;
}
.page.court-view .court-result-container {
  background-color: #fefefe;
}
.page.court-view .court-result-container.selected {
  background-color: #f0f0f0;
}
.page.court-view .court-result-container:not(.selected):hover {
  background-color: #f8f8f8;
  cursor: pointer;
}
.page.court-view .court-icon {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: -2px;
  opacity: 0.3;
  margin-right: 10px;
}
.page.court-view .court-result {
  margin-left: 50px;
}
.page.court-view .court-result .court-name {
  font-size: 16px;
}
.page.court-view .court-result .court-city {
  font-size:12px;
  color: #666;
}
.selected-court-details {
  font-size: 16px;
  margin: 20px 30px;
  font-weight: 300;
  border: solid 1px #478dc8;
  padding: 20px;
  background-color: white;
  margin-bottom: 150px;
}
.selected-court-details .selected-court-text {
  font-family: "Raleway", sans-serif;
  color: #333;
  margin-bottom: 30px;
}
.selected-court-details .selected-court-icon {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: -8px;
  margin-right: 10px;
  opacity: 0.2;
}
.selected-court-details .selected-court-name {
  margin-top:0px;
  font-size: 26px;
}
.selected-court-details .selected-court-city {
  line-height: 33px;
  color: #888;
  font-size: 18px;
}
.page.court-view .button {
  position: absolute;
  top: 29px;
  right:30px;
  width: 148px;
  height: 57px;
  font-size: 2em;
  background-color: #147bd8;
  color: white;
}

/*********** DATE VIEW ******************/

#calendar {
  width: 98%;
}
table.k-content {
  width: 100%;
}
.k-calendar .k-content .k-link {
  padding: 10px 0px!important;
}
.k-calendar .k-content, .k-calendar .k-content th {
  text-align: center!important;
}
.k-calendar .k-header .k-link:hover {
  background-color: #ddd;
}
.k-calendar td {
  border-radius: 10px!important;
}
.k-calendar td.k-state-selected {
  background-color: #A1CBFF!important; /*#FFA8A8!important;*/
}
.k-header {
  background-color: #d0d0d0!important; /*#5599F5!important*/
}

/*********** VIOLATION VIEW ******************/

.page button.violation-button {
  width: 18%;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
  color: rgb(26, 93, 162);
  height: 60px;
  font-size: 1.5em!important;
  border: solid 1px rgb(26, 93, 162);
}
.page button.violation-button:hover {
  background-color: #f6f4ff;
  color: rgba(22, 109, 162, 1);
}
.page button.violation-button:active, .page button.violation-button.active {
  background-color: #A1CBFF;
  color: white;
  opacity: 1;
}

/*************** MATCH VIEW *****************/
.page.violation-view {
  top: 0px;
}
.page.match-view .match-found {
  max-width: 800px;
  margin: auto;
}
.page.match-view .match-title {
  text-align: center;
  width: 97%;
}
.page.match-view .match-subtitle {
  clear: both;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.page.match-view .match-odds-text {
  float: left;
  font-size: 1.5em;
  margin-right: 10px;
  width: 69%;
}
.page.match-view .match-odds-value {
  color: lightgreen;
  font-size:40px;
  width: 18%;
  word-wrap: normal;
  text-align: right;
  min-width: 88px;
}
.page.match-view .match-cost-text {
  float: left;
  font-size: 1.5em;
  margin-right: 10px;
  width: 65%;
  clear: left;
}
.page.match-view h2.match-cost-value {
  font-size:40px;
  width: 18%;
  word-wrap: normal;
  text-align: right;
  min-width: 92px;
  color: #333!important;
}
.match-insurance-value {
  color: #c5243b !important;
  font-size: 33px;
  text-align: right;
}
.match-insurance-value div {
  font-size: 14px;
  color: #666;
  position: absolute;
  margin-top: -2px;
}
.popover-backdrop.active {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 850px) {
  .page.violation-view {
    /*text-align: center; need this for match view? */
  }
  .page.match-view {
    display: inline-block;
    padding: 10px 65px;
  }
  .page.match-view .match-found {
    text-align: left;
  }
}
.page.match-view {
  padding: 10px 35px;
}
.page.match-view h2, .page.match-view h3, .page.match-view h4 {
  color: #444;
}
.match-details-row {
  display: inline-block;
  width: 100%;
  text-align: left;
  background-color: white;
  padding: 20px 15px;
  margin-top: 0px!important;
  margin-bottom: -4px!important;
  border: solid 1px #eee;
}
.match-details-row:nth-of-type(2):hover {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2)
}
.match-details-row:nth-of-type(2) {
  cursor: pointer;
}
.match-details-row .match-odds-text, .match-cost-text, .match-insurance-text  {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0!important;
  width: 69%;
  float: left;
}
.match-details-row .match-cost-value, .match-odds-value, .match-insurance-value {
  float: right;
}
.match-odds-note, .match-cost-note, .match-insurance-note {
  float: left;
  color: #aaa;
}
.match-cost-note {
  color: forestgreen;
}
.page.match-view .ion-android-checkmark-circle, .page.match-view .ion-checkmark {
  color: lightgreen;
  font-size: 2.2em;
  right: 13px;
  top: 13px;
  position: relative;
}
.page.match-view .request-coverage-button {
  width:68%;
}
.page.match-view .request-coverage-button.cancel {
  margin-left: 0px;
  width: 30%;
}
.page.match-view .confirm-match-button {
  margin-top: 20px;
  width: 100%;
  min-width: 300px;
}
.page.match-view .included-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 200;
}
.page.match-view ion-slide-box {
  width: 100%;
  background-color: white;
  padding: 10px;
}
.page.match-view .slider-slide {
  width: 575px;
  left: 0px;
  transition-duration: 300ms;
  transform: translate(0px, 0px) translateZ(0px);
  height: 105px;
  padding: 50px 20px 20px 20px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}
.page.match-view .slider-slide a {
  text-decoration: underline!important;
  color: #0077cc!important;
}
.page.match-view .slider-pager {
  font-size: 9px;
  top: 10px;
  padding-top: 5px;
}
.slider-pager-page {
  color: #0077cc!important;

}
.page.match-view .phone-info {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}
.page.match-view .phone-text {
  font-size: 16px;
  color: #555;
}
.page.match-view .phone-value {
  text-align: left;
  width: 240px;
  display: inline-block;
  margin-top: 10px;
}
.page.match-view .phone-value i {
  font-size: 40px;
  margin-right: 10px;
  float: left;
  margin-top: -11px;
  color: #0060a3;
}
.page.match-view .phone-value div {
  float: left;
  font-size: 20px;
  color: #0060a3;
}
@media (max-width: 450px) {
  .page.match-view {
    font-size: 10px;
  }
  .page.match-view .match-title  {
    font-size: 2.1em;
  }
  .page.match-view h4 {
    font-size: 1.6em;
  }
  .page.match-view .match-odds-text {
    width: 65%;
  }
  .page.match-view .match-odds-value {
    line-height: 1.6em;
    font-size: 3em;
  }
  .page.match-view .match-cost-value {
    font-size: 3em;
  }
}

/* PAYMENT VIEW */
.page.payment-view .payment-view {
  padding: 10px 30px!important;
}
.popup-view-content .scroll {
  height: 100%;
}
.popup-view-header h1.title {
  color: white!important;
}
.page.payment-view ul.transactions {
  background-color: white;
}
.page.payment-view ul.transactions li.discount-applied {
  margin-top: 5px;
  margin-left: 10px;
  padding: 5px 10px 5px 0;
  background-color: rgba(71, 250, 114, 0.08);
}
.page.payment-view ul.transactions li.matched-lawyer {
  margin-top: 1px;
  margin-left: 10px;
  padding: 7px 10px;
  background-color: rgba(0, 0, 0, 0.04);
}
.page.payment-view ul.transactions li.matched-lawyer i {
  float: left;
  margin-right: 8px;
  font-size: 20px;
  color: #ff7b2e;
}
.page.payment-view ul.transactions li.matched-lawyer div {
  color: #333;
  font-weight: 200;
}
.page.payment-view ul.transactions li.matched-lawyer div span {
  font-weight: 400;
}
.page.payment-view ul.transactions li.discount-applied div.discount-applied {
  color: #00890b;
  font-weight: 200;
  margin-left: 10px;
}
.page.payment-view ul.transactions li.discount-applied div.discount-value {
  color: #0781e9;
}
.page.payment-view ul.transactions-discount {
  margin-top: 5px;
  border-color: rgba(127, 179, 251, 0.81) !important;
}
.page.payment-view ul.transactions-discount li.discount {
  margin-top: 5px;
  margin-bottom: -10px;
  margin-left: -10px;
  display: inline-block;
  overflow: inherit!important;
  width: 100%;
}
.page.payment-view ul.transactions-discount li div.discount-code {
  margin-top: 5px;
  margin-left: 20px;
  float: left;
}
.page.payment-view ul.transactions-discount li input {
  width: 150px!important;
  font-size: 22px;
  font-weight: 200;
  border: solid 1px #ccc;
  padding: 10px 10px;
  color: #333;
  float: right;
  height: 40px;
  margin: -1px 4px -2px 0;
}
.page.payment-view button.apply-discount {
  width: 80px;
  min-height: 10px!important;
  float: right;
  margin: -1px -12px -20px 0;
  background-color: #147bd8;
  font-size: 15px!important;
  line-height: 12px;
  padding: 0px!important;
  border-radius: 2px;
  height: 40px;
  border: none;
}
.page.payment-view button.apply-discount:hover {
  color: white;
  background-color: #147bd8;
}
.page.payment-view ul.transactions-discount .error-message {
  clear: left;
  font-size: 12px;
  color: red;
  font-weight: 200;
  margin-top: 0px;
  margin-left: 20px;
}
.page.payment-view .terms-disclaimer {
  font-weight: 200;
  float: left;
  padding: 5px;
  padding-right: 10px;
  color: #666;
}
@media (min-width: 850px) {
  .page.payment-view .payment-view {
    width: 800px;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .page.payment-view .payment-view {
    padding: 0px 20px!important;
  }
}








.page.cases-view .page.messages-view {
  padding: 10px 25px;
  background-color: #F0F3F4;
}
.page.cases-view h1, .page.messages-view h1 {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  color: #666;
  font-weight: 300;
  margin: 15px 0 20px 0;
}
.page.cases-view div {
  color: #777;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 300;
  text-align: left;
}
.page.cases-view .loading-box, .page.messages-view .loading-box {
  margin-top: 15px;
}
.page.cases-view .case-section:hover {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2)
}
.page.cases-view .case-section .case-summary {
  float: left;
}
.page.cases-view .section-title {
  color: #888; /*#1f66ad;*/
  margin-top: 25px;
  margin-bottom: -5px;
  margin-left: 15px;
  text-align: left;
}
.page.cases-view .section-title i {
  float: left;
  font-size: 20px;
}
.page.cases-view .section-title div {
  padding: 4px 0px 0px 23px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #666;
}
/* History section */
.page.cases-view .case-section .timeline-bar {
  border-right: solid 1px #cccccc;
  height: 85%;
  position: absolute;
  top: 15px;
  left: 30px;
  width: 60px;
}
.page.cases-view .case-section .update-row {
  height: auto;
  width: 100%;
  display: inline-block;
}
.page.cases-view .case-section .action-bar {
  width: 125px;
  height: 30px;
  float: left;
  text-align: center;
  clear:both;
  position: relative;
}
.page.cases-view .case-section .update-row .icon-bg {
  background-color: white;
  height: 24px;
  width: 18px;
  margin-left: 66px;
}
.page.cases-view .case-section .update-row i {
  color: #ddd;
}
.page.cases-view .case-section .update-row.active i {
  color: #5994DC;
}
.page.cases-view .case-section .action-text {
  float: left;
  min-height: 40px;
  width: 70%;
  font-size: 16px;
  padding-bottom: 20px;

  margin-left: -20px;
}
.page.cases-view .case-section .action-date {
  float: left;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  width: 90px;
  color: #aaa;
}
.page.cases-view .case-section .action-title {
  font-weight: 400;
  font-size: 16px;
  color: #333;
}
.page.cases-view .case-section .action-description {
  font-size: 16px;
  clear: both;
  margin-left: 110px;
  margin-top: 5px;
}
/* Lawyer section */
.page.cases-view .case-section .lawyer-image {
  float: left;
  clear: both;
}
.page.cases-view .case-section .lawyer-image img {
  width: 200px;
  height: auto;
  margin-right: 15px;
}
.page.cases-view .case-section .lawyer-details {
  float: left;
  min-width: 200px;
}
.page.cases-view .case-section .lawyer-details .lawyer-name {
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #333;
}
.page.cases-view .case-section .lawyer-details i {
  margin-right: 5px;
  color: #059de2;
}
.page.cases-view .case-section .lawyer-details .lawyer-call,
.page.cases-view .case-section .lawyer-details .lawyer-message {
  float: left;
  border: solid 1px #059de2;
  padding: 5px 20px;
  margin-right: 10px;
  border-radius: 1px;
  color: #059de2;
  cursor: pointer;
}
.page.cases-view .case-section .lawyer-details .lawyer-call:hover i,
.page.cases-view .case-section .lawyer-details .lawyer-message:hover i {
  color: white;
}
.page.cases-view .case-section .lawyer-details .lawyer-call:hover,
.page.cases-view .case-section .lawyer-details .lawyer-message:hover {
  color: white;
  background-color: #059de2;
}
/* Court section */
div.court-icon {
  background-image: url("../img/court-icon.png");
  background-repeat: no-repeat;
  background-size: 20px 18px;
  opacity: 0.55;
  margin-top: 2px;
  margin-right: 3px;
  height: 20px;
  float: left;
}
.page.cases-view .case-section .court-name {
  color: #333;
  font-size: 20px;
}
.page.cases-view .case-section .court-city {
  color: #999;
  font-size: 16px;
}
.page.cases-view .case-section .court-date {
  margin-top: 15px;
}
.page.cases-view .case-section .court-date i {
  float: left;
  margin-right: 7px;
  margin-top: -1px;
  color: #0587cb;
}
.page.cases-view .case-section .court-date div {
  font-size: 16px;
  color: #0587cb;
}
/* Ticket section */
.page.cases-view .case-section .ticket-image {
  float: left;
  clear: both;
  margin: -15px 15px -15px -15px;
}
.page.cases-view .case-section .ticket-image img {
  width: 200px;
  height: auto;
}
.page.cases-view .case-section .ticket-details {
  float: left;
  min-width: 200px;
}
.page.cases-view .case-section .ticket-details .summary-label {
  min-width: 110px;
}
/* Status section */
.page.cases-view .status-section {
  margin: 10px 0px 10px 15px;
  border: solid 1px rgba(30, 200, 50, 1);
  border-radius: 2px;
  margin-left: 30px;
}
.page.cases-view .status-section .status-title {
  background-color: rgba(30, 200, 50, 1);
  color: white;
  padding: 9px 15px;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}
.page.cases-view .status-section .status-description {
  background-color: white;
  color: rgb(25, 128, 35);
  padding: 8px 15px 15px 15px;
  font-size: 17px;
}
/* Generic section */
.page.cases-view .case-section {
  margin: 10px 0px 10px 15px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px transparent;
  background-color: white;
  padding: 15px;
  border-radius: 2px;
  overflow: auto;
  margin-left: 30px;
}
.page.cases-view .case-section .case-row {
  width: 100%;
  overflow: auto;
  padding: 5px 0 5px 0;
}
.page.cases-view .case-section .case-row .summary-label {
  float: left;
  width: 80px;
  text-align: right;
  margin-right: 30px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  line-height: 1.8em;
  color: #999;
}
.page.cases-view .case-section .case-row .summary-value {
  float: left;
  color: #333;
}
.page.cases-view .case-section .status {
  margin-top: 0px;
  z-index: 1000;
}

.page.cases-view .status div {
  color: white;
  padding: 3px 10px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
.page.cases-view .status div.case-status-active {
  background-color: green;
}
.page.cases-view .status div.case-status-confirmed {
  background-color: orange;
}

@media (min-width: 850px) {
  .page.cases-view {
    text-align: left;
  }
  .view-wrapper {
    max-width: 850px;
    width: 95%!important;
    text-align: left;
  }
}
.page.cases-view .scroll {
  text-align: center;
}
@media (max-width: 600px) {
  .page.cases-view .case-section .action-text {
    width: 100%;
    margin-top: -30px;
    margin-left: 0px;
  }
  .page.cases-view .case-section .action-date {
    width: 75px;
    float: left;
  }
  .page.cases-view .case-section .action-description {
    margin-left: 95px;
  }
}




/* Messages */
@media (max-width: 850px) {
  .page.messages-view {
    text-align: left;
  }
  .view-wrapper {
    max-width: 850px;
    width: 100%!important;
  }
}
.page.messages-view {
  text-align: center;
}
.view-wrapper {
  width: 850px;
  max-width: 850px;
  display: inline-block;
}
.breadcrumb {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 25px;
  width: 150px;
  cursor: pointer;
  text-align: left;
}
.breadcrumb:hover i {
  color: #07c;
}
.breadcrumb:hover .link-text {
  color: #07c;
}
.breadcrumb i {
  float: left;
  margin-right: 10px;
  color: #999;
}
.breadcrumb .link-text {
  color: #999;
  font-size: 16px;
}
.page-header {
  margin-left: 15px;
  text-align: left;
}
.page-header i {
  font-size: 40px;
  margin-top: -3px;
  margin-right: 9px;
  float:left;
  color: #666;
}
.send-message-box {
  margin: 30px 30px;
  max-width: 800px;
}
.send-message-box .panel {
  background: transparent;
  height: 150px;
  border: none;
}
.send-message-box .panel .panel-body {
  background: white;
}
.send-message-box button {
  margin: 5px 0 0 0;
  width: 100%;
  background-color: #1982c4;
  border: none;
}
.send-message-box button:hover {
  margin: 5px 0 0 0;
  width: 100%;
  background-color: #156ca3;
}
.send-message-textarea {
  width: 100%;
  max-height:70px;
  max-width: 770px;
}
.message-thread {
  margin: 40px 30px;
  max-width: 800px;
}
.message-thread div {
  color: #777;
  font-size: 16px;
  line-height: 1em;
  font-weight: 300;
}
.message-thread .message-text {
  color: #555;
}
.col-sm-10 {
  width: 83.33333%;
  float: left;
  position: relative;
  min-height: 1px;
}
.media-round img {
  border-radius: 50px;
}
.message .row {
  padding: 0;
}
.text-right {
  text-align: right;
}
.panel {
  border: 1px solid #dce0e0;
  background-color: #fff;
  border-radius: 0;
  margin-bottom: 11px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body:first-child {
  border-top: 0;
}
.panel-dark, .panel-header {
  background-color: #edefed;
}
.panel-body {
  margin: 0;
  padding: 20px;
}
.panel-quote {
  position: relative;
  margin-left: 10px;
  text-align: left;
}
.panel-quote-right {
  position: relative;
  margin-right: 10px;
  margin-left: 0;
  text-align: right;
}
.pre {
  white-space: pre-wrap;
}
.space-top-2 {
  margin-top: 12.5px;
}
.message-thread .text-muted {
  color: #ccc;
}


/* Profile View */
.page.profile-view .view-wrapper {
  min-height: 500px;
}
.page.profile-view h1 {
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
}
.page.profile-view .user-photo {
  text-align: center;
}
.page.profile-view .user-photo img {
  border-radius: 3px;
}
.page.profile-view .left-col {
  float: left;
  width: 230px;
  min-height: 500px;
  border: solid 0px #ccc;
  background-color: #eee;
  border-radius: 3px;
  padding: 10px 0;
}
.page.profile-view .right-col {
  float: left;
  width: calc(100% - 230px);
}
.page.profile-view .left-col .username {
  width: 100%;
  text-align: center;
}
.page.profile-view .right-col .user-details {
  width: 100%;
  min-height: 500px;
  background-color: #f8f8f8;
  padding: 15px 20px 10px 20px;
  text-align: center;
}
.page.profile-view .right-col .user-details .row {
  border: solid 1px #eee;
  display:inline-block;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px 5px 10px 15px;
}
.page.profile-view .right-col .user-details .row .label {
  font-size: 14px;
}
.page.profile-view .right-col .user-details .row .value {
  font-size: 30px;
  margin-top: -5px;
}

@media (max-width: 850px) {
  .page.profile-view {
    text-align: left;
  }
  .view-wrapper {
    max-width: 850px;
    width: 100%!important;
    text-align: left;
  }
  .page.profile-view .left-col,
  .page.profile-view .right-col {
    min-height: 0px;
    width: 100%;
  }
}
.page.profile-view .scroll {
  text-align: center;
}




/* Nav */
.bar.bar-dark, ion-header-bar.bar.bar-dark.bar-header  { /* top bar */
  background-color: white;
  color: red;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(0deg, #fff, #111 50%, transparent 50%);
}
.bar-dark button.button {
  color: #1262be;
}
.bar-dark button.button:hover {
  background-color: #f9f9f9;
  color: #1262be;
}
.bar-dark button.button.login-nav-button i.icon:before {
  font-size: 25px;
  margin-right: 2px;
  margin-top: 0;
}
@media (max-width: 500px) {
  .button.login-nav-button i {
    float: right;
    padding-right: 5px;
  }
  .button.login-nav-button .nav-username {
    padding-left: 15px;
    padding-right: 0px;
  }
  .button.login-nav-button .nav-username .username
  {
    display: none;
  }
}
/* Left nav */
.menu-left .logo-container {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.logo-container img.logo-icon {
  margin-top: 5px;
  width: 30px!important;
  height: 25px;
  float: left;
  margin-left: 20px;
}
.logo-container img.logo-img {
  width: 160px;
  height: 20px;
  margin-left: 7px;
  float: left;
  margin-top: 6px;
}
.logo-container:hover .logo-icon {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.menu-left ion-item {
  background-color: #22262E;
  border-color: #666;
  cursor: pointer;
}
.menu-left ion-item:hover {
  background-color: #1B1E24;
}
.menu-left ion-item.activated {
  border-color: #666!important;
}
.menu-left a ion-item {
  color: white;
  text-decoration: none;
  border: solid 1px #888;
}
.menu-left a.disabled ion-item {
  color: #666;
}
.menu-left a.disabled ion-item i {
  color: #666;
  pointer-events: none;
}
.menu-left ion-item i, .menu-left ion-item span {
  pointer-events: none;
}
.menu-left ion-item.active {
  background-color: #2566a6;
}
.nav-icon {
  font-size: 1.2em;
  color: rgba(255,255,255,0.9);
  margin-right: 5px;
}
.menu-left.condensed ion-item i.icon, .menu-left.condensed .nav-item-name {
  display: none;
}
.menu-left.condensed .logo-icon {
  margin-left: 3px;
}
.menu-left.condensed .logo-img {
  display: none;
}
@media (min-width: 768px) {
  .menu-left img.logo-icon {
    margin-left: 3px;
  }
  .logo-container.condensed img.logo-img {
    display:  none;
  }
  .menu-left.condensed ion-item i.icon, .menu-left.condensed .nav-item-name {
    display: none;
  }
  .left-menu-button {
    display: none;
  }
}
.nav-item-div {
  width: 110px;
  position: absolute;
  left: 51px;
  margin-top: 2px;
  height: 53px;
  z-index: 90;
  font-size: 12px;
  background-color: #004c6e;
  padding: 16px 30px 16px 20px;
  color: white;
  border: solid 1px transparent;
  display: none;
  cursor: pointer;
  opacity: 0.9;
}
.nav-item-div:hover {
  opacity: 1;
}
.nav-item-div.home {
  top: 42px;
}
.nav-item-div.ticket {
  top: 96px;
}
.nav-item-div.cases {
  top: 151px;
}


/* Home */
.page.home-view {
  background-color: #F0F3F4;
  padding: 0;
}
.title {color: black!important;}
.page.home-view h1 {
  color: white;
  font-size: 2em;
  font-weight: 300;
  float: left;
  width: auto;
}
.home-view .top-section {
  padding: 20px 40px 20px 40px;
}
.home-view .top-section h1 {
  width: 100%;
}
.top-section h1.welcome {
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 0px;
}
.top-section h4 {
  font-family: "Lato", sans-serif;
  color: #888;
  clear: left;
  font-size: 22px;
  line-height: 22px;
}
.action-section {
  background-color: white;
  margin: auto;
  width: 100%;
  padding: 30px;
  text-align: center;
}
.action-section .actions {
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
}
.action-section .actions .action {
  border: 1px solid rgba(0,0,0,.07);
  display: inline-block;
  width: 31%;
  border-radius: 0px;
  padding: 15px;
  text-align: center;
  vertical-align: top;
  font-weight: 300;
  font-size: 13px;
  cursor: pointer;
}
.action.insurance.expanded {
  width: 100%;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.action.insurance.expanded i {
  width: 70px!important;
  margin-right: 5px;
  float: left;
}
.action.insurance.expanded h1 {
  float: left;
  width: auto!important;
}
.action.insurance.expanded .insurance-text {
  display: none;
}
.action.insurance.expanded .insurance-calculator-wrapper {
  display: block;
}
@media (max-width: 599px) {
  .top-section {
    text-align: center;
  }
  .action-section .actions .action {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 0!important;
  }
  .top-section h4 {
    line-height: 30px;
  }
}
.action-section .actions .action:hover {
  border: 1px solid rgba(0,0,0,0.20);
}
.action-section .actions .action:first-child {
  margin-right: 15px;
}
.action-section .actions .action:last-child {
  margin-left: 15px;
}
.action-section .actions .action i {
  font-size :50px;
  color: #147bd8;
  width: 100%;
}
.action-section .actions .action h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #5b5b60;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}


/* Case created view */

.page.case-created {
  background-color: #F0F3F4;
  text-align: center;
  padding-top: 15px;
}
.page.case-created .scroll-view {
  padding-bottom: 100px;
  margin-left: -10px;
  margin-right: -10px;
}
.page.case-created h2 {
  color: rgba(23, 158, 49, 0.75);
}
.page.case-created i.ion-checkmark-circled {
  margin-right: 5px;
  font-size: 1.2em;
  color: rgba(23, 158, 49, 0.75);
  position: relative;
  top: 3px;
}
.page.case-created .match-details {
  margin-top: 25px;
  color: #999;
  font-size: 1.3em;
  font-weight: 300;
  background-color: white;
  padding-top: 30px;
}
.page.case-created .lawfirm-name {
  font-weight: 400;
  color: #333;
  margin-top: 10px;
}
.page.case-created .lawfirm-image {
  width: 150px;
  height: 150px;
  margin: 15px 0 20px 0;
  border-radius: 50%;
}
.page.case-created .case-created-note {
  color: #5499E2;
  font-size: 1.6em;
  line-height: 1.5em;
  font-weight: 200;
  margin: auto;
  margin-top: 30px;
  background-color: white;
  width: 100%;
  padding-bottom: 40px;
}
@media (max-width: 500px) {
  .page.case-created .case-created-note {
    width: 85%;
  }
}
.page.case-created .case-created-note .note {
  color: #aaa;
  font-size: 0.7em;
  margin-top: 10px;
  line-height: 1em;
}
.page.case-created .facebook-share {
  margin: auto;
  background-color: #5372bc;
  color: white;
  font-size: 1.5em;
  line-height: 2em;
  padding: 6px;
  margin-top: 8px;
  font-weight: 200;
  cursor: pointer;
  border-radius: 3px;
  overflow: auto;
  max-width: 250px;
}
.page.case-created .facebook-share:hover {
  background-color: #3b5185;
}
.page.case-created .facebook-share i {
  font-size: 1.7em;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
.page.case-created .facebook-share .text {
  line-height: 2em;
  float: left;
}
.page.case-created .share-text {
  margin-top: 30px;
  margin-left: 5px;
  color: #5372bc;
  font-size: 1.2em;
  background-color: white;
  padding-bottom: 30px;
}
.page.case-created .share-blurb {
  padding-top: 20px;
  padding-bottom: 5px;
}
.page.case-created .view-case-button {
  background-color: #f37272;
  border: none;
  margin-top: 25px;
  max-width: 50%;
}
.page.case-created .view-case-button:hover {
  background-color: #f36464;
}
.facebook-share {
  -webkit-transition:all linear 1s;
}
.facebook-share.ng-hide {
  opacity: 0;
}
.facebook-share.ng-hide-add {
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}



/* Checkbox */
.squaredTwo {
  float: left;
  width: 23px;
  height: 23px;
  position: relative;
  margin-left: 26px;
  margin-right: 10px;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredTwo label {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 4px;
  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.squaredTwo label:after {
  content: '';
  width: 17px;
  height: 7px;
  position: absolute;
  top: 3px;
  left: 0px;
  border: 3px solid #2566A6;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-53deg);
  transform: rotate(-53deg);
}
.squaredTwo input[type=checkbox] {
  visibility: hidden;
}
.squaredTwo input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.checkbox-description {
  margin-top: 2px;
  float: left;
  font-size: 16px;
  color: #333;
}




.insurance-calculator-wrapper {
  text-align: left!important;
}
.close-calculator {
  float: right;
  font-size: 35px;
  color: #ccc;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.close-calculator:hover {
  color: #999;
}
.insurance-calculator-wrapper .disclaimer {
  /*color: #ccc;*/
}
.insurance-calculator {
  width: 100%;
  margin: auto;
  display: inline-block;
  height: auto;
  border: solid 1px #efefef;
  float: left;
  clear: both;
  padding: 20px;
  padding-top: 30px;
}
.insurance-calc-note {
  float: left;
  font-size: 16px;
  color: #888;
  padding: 10px 10px 20px 10px;
}
.insurance-calculator .calculator-form {
  width: 55%;
  float: left;
}
.insurance-calculator .row {
  height: 40px;
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif;
}
.insurance-calculator .label {
  margin-right: 20px;
  float: left;
  clear: left;
  width: 80px;
  text-align: right;
  font-size: 16px;
  color: #666;
  clear: right;
}
.insurance-calculator .row .age-value,
.insurance-calculator .row .premium-value{
  font-size: 26px;
  margin-left: 20px;
  color: #333;
}
.insurance-calculator .row span {
  font-size: 14px;
}
.insurance-calculator select {
  float: left;
}
.insurance-calculator .calculator-results {
  padding: 0 0 0 20px;
  float: right;
  position: relative;
}
.calculator-results .price-gauge img {
  width: 376px;
  height: 170px;
}
.calculator-results .gauge-needle {
  position: absolute;
  top: 5px;
  left: 10px;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  -webkit-transform: rotate(-95deg);
  -moz-transform: rotate(-95deg);
  -ms-transform: rotate(-95deg);
  -o-transform: rotate(-95deg);
  transform: rotate(-95deg);
}
.gauge-label {
  position: absolute;
  top: 70px;
  left: 155px;
  text-align: center;
}
.gauge-label .rate-label {
  color: #666;
}
.gauge-label .rate-value {
  margin-top: 5px;
  font-size: 26px;
}
@media (max-width: 1050px) {
  .calculator-form {
    width: 100%!important;
  }
  .calculate-insurance-button {
    margin-left: 0!important;
    width: 100%!important;
    margin-bottom: 40px!important;
  }
  .calculator-results {
    text-align: center;
    width: 100%;
  }
  .price-gauge img {
    width: 100%!important;
    max-width: 376px;
    height: auto!important;
  }
  .gauge-needle {
    transform: rotate(-91.1778deg);
    top: 40px!important;
    left: calc(50% - 190px)!important;
  }
  .gauge-label {
    top: 60px!important;
    left: calc(50% - 40px)!important;
  }
  .calculator-results {
    float: none!important;
    padding: 0!important;
    float: left!important;
  }
  .increase-text {
    text-align: center;
    padding: 25px 10px!important;
  }
  .increase-label {
    width: 100%!important;
  }
  .increase-value {
    width: 100%!important;
    margin-top: 20px!important;
  }
}
@media (max-width: 530px) {
  .insurance-calculator .row {
    display: inline-block;
    text-align: left;
    height: auto;
  }
  .insurance-calculator .row .label {
    float: none;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  .slider-container {
    width: 100%!important;
  }
  .gauge-needle {
    top: 50%!important;
  }
  .gauge-label {
    top: 210px!important;
    font-size: .85em;
  }
  div.list {
    width: 100%!important;
  }
}
.increase-text {
  margin: 30px 0 10px 0;
  width: 100%;
  float: left;
  padding: 30px 20px;
  background-color: rgba(231, 236, 221, 0.20);
}
.increase-text .increase-label {
  color: #666;
  font-size: 19px;
  float: left;
  width: calc(100% - 150px);
}
.increase-text .increase-value {
  color: #00ac56;
  font-size: 40px;
  float: right;
  margin-left: 20px;
  margin-top: 0px;
  font-weight: 400;
}
button.calculate-insurance-button {
  clear: both;
  width: 400px;
  display: block;
  background: #f6737d;
  -moz-box-shadow: inset 0 1px 0 0 #ff808c;
  -webkit-box-shadow: inset 0 1px 0 0 #da747d;
  border-color: #c85c62;
  text-shadow: 0 -1px 1px #de3c4f;
  font-size: 21px!important;
  margin: 15px 0 0 60px;
  z-index: 10000;
}
button.calculate-insurance-button:hover {
  background: -moz-linear-gradient(0% 100% 90deg, #f35d76, #f3555d);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2857f), to(#e76072));
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}



/* Slider CSS */

.slider-container {
  position: relative;
  width: 300px;
  margin-top: -14px;
}
.slider-wrapper {
  padding: 20px 0 20px;
}
.slider {
  background-color: #DFF0D8!important;
  box-shadow: rgb(201, 216, 194) 0px 1px 0px 0px inset!important;
  height: 12px!important;
  width: 100%!important;
  visibility: visible!important;
  overflow: inherit!important;
}
.premium .slider {
  background-color: #D5E4F9!important;
}
.premium .slider-selected {
  background-color: #3882C3;
  box-shadow: rgb(51, 94, 145) 0px 1px 0px 0px inset;
}
.slider-selected {
  background-color: #5CB85C;
  box-shadow: rgb(97, 145, 97) 0px 1px 0px 0px inset;
  float: left;
  height: 10px;
}
.slider-pointer {
  background: #fff;
  background: linear-gradient(#fff,#f6f6f6) #fff;
  background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f6f6f6)) #fff;
  background: -webkit-linear-gradient(#fff,#f6f6f6) #fff;
  border-radius: 50%;
  webkit-border-radius: 50%;
  box-shadow: -2px 2px 4px rgba(25, 70, 94, 0.6), 0px 2px 8px rgba(25, 70, 94, 0.1);
  webkit-box-shadow: -2px 2px 4px rgba(25, 70, 94, 0.6), 0px 2px 8px rgba(25, 70, 94, 0.1);
  cursor: pointer;
  float: right;
  height: 30px;
  margin-right: -25px;
  margin-top: -11px;
  width: 30px;
}
.slider-pointer:focus {
  outline: 0;
}
.slider-pointer:after {
  content: '';
  display: block;
  height: 25px;
  left: 12px;
  position: relative;
  top: 12px;
  width: 25px;
}
.slider-pointer:hover {
  box-shadow: -2px 2px 4px rgba(25, 70, 94, 1), 0px 2px 8px rgba(25, 70, 94, 1);
  webkit-box-shadow: -2px 2px 4px rgba(25, 70, 94, 1), 0px 2px 8px rgba(25, 70, 94, 1);
}
.slider-wrapper {
  padding: 20px 0 20px;
}
.slider-container {
  position: relative;
}
@media screen and (max-width: 500px) {
  .slider-demo form input {
    display: block;
    width: 100%;
    margin-bottom: 12px;
  }
}






















