/* Empty. Add your own CSS if you like */

.page {
  padding: 10px 15px;
}
.page h4 {
  font-weight: lighter;
  font-size: 20px;
}
.page button {
  width: 100%;
  background-color: rgb(26, 93, 162);
  cursor: pointer;
  color: white;
  height: 60px;
  font-size: 1.5em!important;
  border: solid 1px rgb(31, 85, 142);
}
.page button:hover {
  opacity: 1;
  background-color: rgb(36, 103, 172);
}
.page button.bottom {
  position: fixed;
  bottom: 50px;
}
.scroll {
  height: 100%;
}
.loading {
  background-image: url("../img/loading.gif");
}
.menu-left ion-item {
  background-color: #444;
  border-color: #666;
  cursor: pointer;
}.menu-left ion-item:hover {
   background-color: #555;
 }
.menu-left ion-item a {
  color: white;
  text-decoration: none;
}
.bottom-bar {
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.light-text {
  font-weight: 300;
}
hr {
  display: block;
  clear: both;
  margin: 2em 0;
  border: 0;
  outline: 0;
  height: 2px;
  background: #ddd;
}
.loading-container .loading {
  color: #666;
}
.loading-container .loading .loading-text {
  margin: 10px 0 5px 0;
}
.loading-container .loading .loading-link {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  top: -75px;
  right: -85px;
  color: #ccc;
  height: 0;
}
/************* TICKET VIEW ************/
.page.ticket-view h4 {
  margin-top: 20px;
  text-align:center;
}
.page.ticket-view .image-input-options {
  text-align: center;
}
.page.ticket-view .ticket-image-container {
  width:100%;
  text-align:center;
}
button.button.camera-button {
  background-image: url('../img/camera-icon.png');
  background-position-x: center;
  background-repeat: no-repeat;
  background-color:transparent;
  border:none;
  height:420px;
  width: 420px;
}
button.button.camera-button:active {
  background-image: url('../img/camera-icon-hover.png');
  border:none;
}
button.button.camera-button.activated {
  box-shadow: none;
}
video {
  background-color: black;
  width: 100%;
  max-height: 84vh;
}
.page.ticket-view h4.image-instruction-text {
  margin-top: -4px;
  color: white;
  background-color: green;
  opacity: 0.8;
  height: 60px;
  line-height: 60px;
  font-weight: 300;
}
.shutter-button {
  background-image: url("../img/shutter.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  height: 100px; /*or your image's height*/
  margin: 0;
  padding: 0;
  position: relative;
  top: -150px;
  left: 46%;
  cursor: pointer;
  opacity: 1.0;
}
.shutter-button:active {
  background-image: url("../img/shutter-open.png");
}
button.continue {
  width: 48%;
}
button.retake-picture {
  width: 48%;
  background-color: white;
  height: 60px;
  border: solid 1px #cdcdcd;
  color: #333;
  margin-top: 30px;
  cursor: pointer
}
button.retake-picture:hover {
  background-color: #efefef;
  color: #333;
}
button.retake-picture:hover {
  background-color: #ccc;
}
.page.ticket-view input[type='file'] {
  margin-top: 10px;
}
.page.ticket-view input[type='file'] /deep/ button {
  color: #fff;
  background: #428bca;
  border: 1px solid #2b669a;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15),
  0 1px 1px rgba(0, 0, 0, .075);
  padding: .8em 1.1em;
  font-size: 1.3em;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}
.page.ticket-view input[type='file'] /deep/ button:hover {
  background: #62abea;
}
.page.ticket-view input[type='file'] /deep/ button:active {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15),
  3px 3px 3px rgba(0, 0, 0, .25);
}
.page.ticket-view .file-input-container {
  text-align: center;
}

/************* COURT VIEW ************/

.page.court-view ion-header-bar {
  overflow: hidden;
  padding: 0px 15px 0px 15px;
  height: 95px;
  top: 43px;
  border-bottom: none;
}
.page.court-view ion-header-bar input {
  height: 30px;
  line-height: 30px;
  border: solid 3px #f0f0f0;
  width: 100%;
  font-size: 2em;
  color: #444;
  font-weight: lighter;
  padding: 8px;
}
.page.court-view ion-content.has-subheader {
  top: 138px;
}
.page.court-view .court-result-container.selected {
  background-color: #efefef;
}
.page.court-view .court-result-container:not(.selected):hover {
  background-color: #fefefe;
  cursor: pointer;
}
.page.court-view .court-icon {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: -2px;
  opacity: 0.3;
}
.page.court-view .court-result {
  margin-left: 50px;
}
.page.court-view .court-result .court-name {
  font-size: 16px;
}
.page.court-view .court-result .court-city {
  font-size:12px;
  color: #666;
}
.selected-court-details {
  font-size: 20px;
  margin: 20px;
  font-weight: 300;
}
.selected-court-details .selected-court-text {
  margin-bottom: 30px;
}
.selected-court-details .selected-court-icon {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: -8px;
  margin-right: 10px;
  opacity: 0.2;
}
.selected-court-details .selected-court-name {
  margin-top:0px;
  font-size: 26px;
}
.selected-court-details .selected-court-city {
  line-height: 33px;
  color: #888;
  font-size: 18px;
}
.page.court-view .confirm-court-button {
  width: 100%;
  cursor: pointer;
  color: white;
  height: 55px;
  font-size: 2em;
}
.page.court-view button {
  margin-bottom: 10px;
}

/*********** DATE VIEW ******************/

#calendar {
  width: 98%;
}
table.k-content {
  width: 100%;
}
.k-calendar .k-content .k-link {
  padding: 10px 0px!important;
}
.k-calendar .k-content, .k-calendar .k-content th {
  text-align: center;
}
.k-header {
  background-color: #5599F5!important
}
.confirm-date-button {
  margin-top: 15px;
}

/*********** VIOLATION VIEW ******************/

.page button.violation-button {
  width: 19%;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  color: rgb(26, 93, 162);
  height: 80px;
  font-size: 1.5em!important;
  border: solid 1px rgb(31, 85, 142);
  opacity: 0.6;
}
.page button.violation-button:hover {
  background-color: rgb(245, 245, 245);
  color: rgb(26, 93, 162);
  opacity: 1;
}
.page button.violation-button:active, .page button.violation-button.active {
  background-color: rgb(31, 85, 142);
  color: white;
  opacity: 1;
}
.match-ticket-button {
  margin-top: 20px;
}
.match-odds-text {
  float: left;
  margin-top:13px;
  margin-right: 20px;
}
.match-odds-value {
  color: green;font-size:40px
}
.match-cost-text {
  float: left;
  margin-right: 20px;
}
.match-cost-value {
  color: green;
  font-size:40px
}
.popover-backdrop.active {
  background-color: rgba(0, 0, 0, 0.3);
}
